*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #d2cfcf;
}
.header{
    height: 30px;
    background-color: white;
    margin-top: 30px;
}
.txt{
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left:20px ;
}
.item{
    width: 100%;
    height: 360px;
    float: left;
    background-color: white;
    margin-top: 20px;
    text-align: center;
}
.boxs{
    width: 255px ;
    height: 30px;
    color: white;
    background-color: black;
    position: relative;
    bottom: -12px;
}

